apiVersion: rabbitmq.com/v1beta1
kind: RabbitmqCluster
metadata:
  annotations:
    rabbitmq.com/topology-allowed-namespaces: '*'
  name: rmq_instance_name
  namespace: rmq_service_namespace
spec:
  replicas: numReplicas
