apiVersion: carto.run/v1alpha1
kind: Workload
metadata:
  name: smtp-sink
  labels:
    apps.tanzu.vmware.com/workload-type: worker
    apps.tanzu.vmware.com/auto-configure-actuators: "true"
    app.kubernetes.io/part-of: spring-smtp-gateway
spec:
  serviceClaims:
  - name: rmq
    ref:
      apiVersion: services.apps.tanzu.vmware.com/v1alpha1
      kind: ResourceClaim
      name: rmq-1
  source:
    git:
      url: <https URL for your generated project's Git repository>
      ref:
        branch: main
    subPath: smtp-sink
